.cueplayer-react .cueplayer-react-cue-bar {
  display: none;
  width: 100%;
  position: absolute;
  bottom: 3em;
  left: 0;
  right: 0;
  height: 1.5em;
  background-color: #2b333f90;
}

// Video has started playing
.cueplayer-react-has-started .cueplayer-react-cue-bar {
  @include display-flex;
  visibility: visible;
  opacity: 1;

  $trans: visibility 0.1s, opacity 0.1s; // Var needed because of comma
  @include transition($trans);
}

// Video has started playing AND user is inactive
.cueplayer-react-has-started.cueplayer-react-user-inactive.cueplayer-react-playing {
  .cueplayer-react-cue-bar.cueplayer-react-cue-bar-auto-hide {
    // Remain visible for screen reader and keyboard users
    visibility: visible;
    opacity: 0;

    $trans: visibility 1s, opacity 1s;
    @include transition($trans);
  }
}

.cueplayer-react-cue-bar .cueplayer-react-cue-note {
  position: absolute;
  height: 100%;
  width: 6px;
  background-color: gray;
  cursor: pointer;
}

.cueplayer-react-cue-bar .cueplayer-react-cue-note-active {
  background-color: orangered;
}

.cueplayer-react-cue-bar .cueplayer-react-cue-note-inactive {
  background-color: orange;
}

.cueplayer-react-has-started .cueplayer-react-cue-bar {
  display: flex;
  visibility: visible;
  opacity: 1;
}
