.cueplayer-react .cueplayer-react-cue-bar {
  display: none;
  width: 100%;
  position: absolute;
  bottom: 3.0em;
  left: 0;
  right: 0;
  height: 3.0em;

  @include background-color-with-alpha($cueplayer-react-primary-background-color, $cueplayer-react-primary-background-transparency);
}

// Video has started playing
.cueplayer-react-has-started .cueplayer-react-cue-bar {
  @include display-flex;
  visibility: visible;
  opacity: 1;

  $trans: visibility 0.1s, opacity 0.1s; // Var needed because of comma
  @include transition($trans);
}

// Video has started playing AND user is inactive
.cueplayer-react-has-started.cueplayer-react-user-inactive.cueplayer-react-playing {
  .cueplayer-react-cue-bar.cueplayer-react-cue-bar-auto-hide {
    // Remain visible for screen reader and keyboard users
    visibility: visible;
    opacity: 0;

    $trans: visibility 1.0s, opacity 1.0s;
    @include transition($trans);
  }
}

.cueplayer-react-cues-disabled .cueplayer-react-cue-bar,
.cueplayer-react-using-native-cues .cueplayer-react-cue-bar,
.cueplayer-react-error .cueplayer-react-cue-bar {
  // !important is ok in this context.
  display: none !important;
}

// Don't hide the cue bar if it's audio
.cueplayer-react-audio.cueplayer-react-has-started.cueplayer-react-user-inactive.cueplayer-react-playing .cueplayer-react-cue-bar {
  opacity: 1;
  visibility: visible;
}

// IE 8 + 9 Support
.cueplayer-react-has-started.cueplayer-react-no-flex .cueplayer-react-cue-bar {
  display: table;
}