.cueplayer-react .cueplayer-react-side-panel {
  padding: 10px;
}

.cueplayer-react-side-panel .cueplayer-react-cue-note {
  padding: 10px;
}

.cueplayer-react-side-panel .cueplayer-react-cue-note-active {
  background-color: orangered;
}

.cueplayer-react-side-panel .cueplayer-react-cue-note-inactive {
  background-color: orange;
}